@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

:root {
    --green: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

.attribution {
    font-size: 0.6875em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-900);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    color: white;
    font-size: 1em;
}

main {
    background-color: var(--grey-800);
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em;
    border-radius: 0.625em;
    margin-bottom: 1.25em;
}

main .pfp {
    border-radius: 50%;
    max-width: 6.25em;
    margin-bottom: 1.875em;
}

main .name {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0.416em;
}

main .location {
    color: var(--green);
    font-weight: 400;
    font-size: 0.875em;
    margin-bottom: 2.142em;
}

main .bio {
    font-weight: 400;
    font-size: 0.875em;
    margin-bottom: 2.142em;
}

main .socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.9375em;
}

main .socials p {
    text-align: center;
    padding: 1.071em;
    font-weight: 700;
    font-size: 0.875em;
    background-color: var(--grey-700);
    border-radius: 0.714em;
}

main .socials p:hover {
    color: var(--grey-800);
    background-color: var(--green);
    cursor: pointer;
}